{% extends 'teacher_temp/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
  <div class="card-body">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <form method="get" class="form-inline d-flex">
        {{studentFilter.form|crispy}}
        <button class="btn btn-info" style="float:right" type="submit">Search</button>
      </form>
    </div>
    <h5 class="card-title">Attendance Form</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Student</th>
      <th scope="col">Course</th>
      <th scope="col">Date of Joining</th>
      <th scope="col">Attendence</th>
    </tr>
  </thead>
  <tbody>
  {% for i in data %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.name}}</td>
      <td>{{i.course}}</td>
      <td>{{i.year_of_joining}}</td>
      <td><a class="btn btn-primary" href="{% url 'mark_teacher' i.id  %}">Mark</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
  </div>
</div>
{% endblock %}