{% extends 'teacher_temp/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Notifications</h4>
    <div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Subject</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Venue</th>
    </tr>
  </thead>
  <tbody>
  {% for i in data %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.subject}}</td>
      <td>{{i.date}}</td>
      <td>{{i.time}}</td>
      <td>{{i.venue}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
      </div>
  </div>
</div>
{% endblock %}