{% extends 'principal_temp/index.html' %}
{% block content %}
<div class="card">
    <div class="card-body" >
            <h5 class="card-title">STUDENT ATTENDANCE ON {{date}}</h5>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">SINo</th>
                <th scope="col">Name</th>
                <th scope="col">Course</th>
                <th scope="col">Attendance</th>
                <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>
            {% for attendance in attendances %}
            <tr>
                <td>{{forloop.counter }}</td>
                <td>{{attendance.student}}</td>
                <td>{{attendance.student.department}}</td>
                <td>{{attendance.attendance}}</td>
                <td>{{attendance.time}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}