<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CSI Vadakara</title>
  <!-- base:css -->
  <link rel="stylesheet" href=" {% static 'panel/vendors/typicons/typicons.css' %} ">
  <link rel="stylesheet" href=" {% static 'panel/vendors/css/vendor.bundle.base.css' %} ">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href=" {% static 'panel/css/vertical-layout-light/style.css' %} ">
  <!-- endinject -->
  <link rel="shortcut icon" href=" {% static 'panel/images/favicon.png' %} " />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand brand-logo" href=" {% url 'principal_home' %} "><img src=" {% static 'panel/images/csi-logo.png' %} " alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href=" {% static 'index.html' %} "><img src=" {% static 'images/logo-mini.svg' %} " alt="logo"/></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src=" {% static 'panel/images/faces/admin-icon.jpg' %} " alt="profile"/>
              <span class="nav-profile-name">{{request.user.name}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{% url 'logout_view' %}">
                <i class="typcn typcn-eject text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="typcn typcn-th-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href=" {% url 'principal_home' %} ">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="typcn typcn-th-small-outline menu-icon"></i>
              <span class="menu-title">Students</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href=" {% url 'student_view_princi' %} ">View</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="typcn typcn-th-small-outline menu-icon"></i>
              <span class="menu-title">Notifications</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href=" {% url 'notification_view_princi' %} ">View</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class="typcn typcn-th-small-outline menu-icon"></i>
              <span class="menu-title">Teachers</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href=" {% url 'teacher_view_princi' %} ">View</a></li>
              </ul>
            </div>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" data-toggle="collapse" href="#chartsi" aria-expanded="false" aria-controls="charts">-->
<!--              <i class="typcn typcn-th-small-outline menu-icon"></i>-->
<!--              <span class="menu-title">Attendance</span>-->
<!--              <i class="menu-arrow"></i>-->
<!--            </a>-->
<!--            <div class="collapse" id="chartsi">-->
<!--              <ul class="nav flex-column sub-menu">-->
<!--                <li class="nav-item"> <a class="nav-link" href=" {% url 'view_attendance_princi' %} ">View</a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </li>-->
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#chartsin" aria-expanded="false" aria-controls="charts">
              <i class="typcn typcn-th-small-outline menu-icon"></i>
              <span class="menu-title">University Result</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="chartsin">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href=" {% url 'result_view_princi' %} ">View</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <div class="row">

            <div class="col-xl-6 grid-margin stretch-card flex-column">
              <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                </div>
              </div>
              <div class="row h-100">
                <div class="col-md-6 stretch-card grid-margin grid-margin-md-0">
                </div>
                <div class="col-md-6 stretch-card">
                </div>
              </div>
            </div>
            <div class="col-xl-6 grid-margin stretch-card flex-column">
              <div class="row h-100">
                <div class="col-md-12 stretch-card">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            {% block content %}
            <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title" style="text-align:center">Welcome {{request.user.name}}</h3>
              </div>
            </div>
              </div>
            {% endblock %}
            <div class="col-xl-4 grid-margin stretch-card">
            </div>
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
              <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                </div>
                <div class="col-md-12 stretch-card">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 grid-margin stretch-card">
            </div>
            <div class="col-md-4 grid-margin stretch-card">
            </div>
            <div class="col-md-4 grid-margin stretch-card">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
            </div>
          </div>

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="https://www.bootstrapdash.com/" class="text-muted" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center text-muted">Free <a href="https://www.bootstrapdash.com/" class="text-muted" target="_blank">Bootstrap dashboard</a> templates from Bootstrapdash.com</span>
                    </div>
                </div>    
            </div>        
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- base:js -->
  <script src=" {% static 'panel/vendors/js/vendor.bundle.base.js' %} "></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src=" {% static 'panel/vendors/chart.js/Chart.min.js' %} "></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src=" {% static 'panel/js/off-canvas.js' %} "></script>
  <script src=" {% static 'panel/js/hoverable-collapse.js' %} "></script>
  <script src=" {% static 'panel/js/template.js' %} "></script>
  <script src=" {% static 'panel/js/settings.js' %} "></script>
  <script src=" {% static 'panel/js/todolist.js' %} "></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src=" {% static 'panel/js/dashboard.js' %} "></script>
  <!-- End custom js for this page-->
</body>

</html>

